{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Newsletter-Subscription-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style type="text/css">
    th {
        text-align: center;
    }

    tr {
        text-align: center;
        vertical-align: middle;
    }
    
    td {
        vertical-align: inherit;
    }

    .errors {
        text-align: center;
        color: red;
    }
    </style>
    {% block css %}
    	
    {% endblock css %}
</head>
<body>
    <nav class="navbar navbar-default navigation-clean">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="{% url 'magazyntkanin:krojownia_index' %}" style="font-family:Condiment, cursive;font-size:56px;">{% block logo %}Krojownia{% endblock logo %}</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li {% if request.resolver_match.url_name == status_dziennika %}class='active'{% endif %} role="presentation"><a href="{% url 'magazyntkanin:krojownia_status' %}" style="font-family:'Alegreya SC', serif;font-size:20px;">Status dziennika</a></li>
                    <li {% if request.resolver_match.url_name == paczki %}class='active'{% endif %} role="presentation"><a href="{% url 'magazyntkanin:krojownia_paczki' %}" style="font-family:'Alegreya SC', serif;font-size:20px;">Wyszukaj paczki</a></li>
                    <li {% if request.resolver_match.url_name == obiegowki %}class='active'{% endif %} role="presentation"><a href="{% url 'magazyntkanin:krojownia_obiegowki' %}" style="font-family:'Alegreya SC', serif;font-size:20px;">Obiegówki</a></li>
                    <li {% if request.resolver_match.url_name == edytuj %}class='active'{% endif %} role="presentation"><a href="{% url 'magazyntkanin:krojowania_edycja' %}" style="font-family:'Alegreya SC', serif;font-size:20px;">Edytuj rolke</a></li>
                    <li role="presentation"><a href="{% url 'magazyntkanin:krojownia_raport' %}" style="font-family:'Alegreya SC', serif;font-size:20px;">Raporty </a></li>
                   <li role="presentation"><a href="{% url 'magazyntkanin:tkanina_dziennik' %}" style="font-family:'Alegreya SC', serif;font-size:20px;">Tkanina - przypisania </a></li>
                </ul>
            </div>
        </div>
    </nav>
	{% block body %}
	
    {% endblock body %}
    {% block errors %}
    <div class="row text-center" style="color: red;">
        {{ errors }}    
    </div>
    {% endblock errors %}    
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {% block ajax %}
    {% endblock ajax %}
</body>
</html>
