{% extends "magazyntkanin/base_k.html" %}


{% block body %}
<div class="row" style="margin-top: 80px;">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <form action="{% url 'magazyntkanin:tkanina_dziennik' %}" method="GET" role="form">
            <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <label for="tkanina" style="margin-top:10px;">Index tkaniny</label>
                <input type="text" class="form-control" id="" placeholder="" name="tkanina">                
                <label for="Nazwa tkaniny" style="margin-top:10px;">Nazwa tkaniny</label>
                <input type="text" class="form-control" id="" placeholder="" name="Nazwa_tkaniny">

                <label for="zakonczone" style="margin-top:10px;">Raportowac rolki zakonczone?</label>
                <input type="checkbox"  class="form-control" id="" placeholder="" name="zakonczone">

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-primary">Wyszukaj</button>                
                </div>
            </div>            
        </form>        
    </div>
    
</div>
<div class="row" style="margin-top: 80px;">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin-top: 50px;">
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h2>Znaleziono {{wpisy.count}} wpisów dla tkaniny: {{ wpisy.first.rolka.tkanina.nazwa }} / {{ wpisy.first.rolka.tkanina.index_sap }} </h2>        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>tkanina</th>
                    <th>Dzienniki</th>
                    <th>Nr rolki</th>
                    <th>Długość</th>
                </tr>
            </thead>
            <tbody>
	
                {% for wpis in wpisy %}                
                <tr>
                    <td>
                        {{ wpis.rolka.tkanina.index_sap }}
                    </td>
                    <td>
                        {{ wpis.pk }}
                    </td>
                    <td>
                        {{ wpis.rolka.pk }}
                    </td>
                    <td> {{ wpis.rolka.dlugosc }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
